div(id="foot")
    footer(class="footer")
        div(class="container")
            div(class="content has-text-centered")
                p
                    strong markt&nbsp;
                .
                    by closedcaption &copy; 2016