

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title=title
    if authenticated
        link(href="/styles/markt.css" rel="stylesheet")
        script(src="/extras/jquery/dist/jquery.min.js")
    else
        link(href="styles/markt-unauth.css" rel="stylesheet")


