script(src="controllers/login.js")
div(id="login")
    section(class="section")
        header
            div(class="container")
                div(class="heading")
                    h1(class="title") Login
        p
        p
            form(id="form" class="box" action="/login" method="post")
                label(class="label") user name
                p(class="control")
                    input(class="input" type="text" placeholder="user name")
                label(class="label") password
                p(class="control")
                    input(class="input" type="password" placeholder="")
                p(class="control btn-grp")
                    button(class="button is-primary" type="submit") submit
                    span &nbsp;
                    button(class="button is-sanger" type="reset") clear
                p(class="control btn-grp")
                    button(class="button is-link") forgot password


