nav(class="nav")
    div(class="nav-left")
        h1(class="nav-item is-brand") markt
    div(class="nav-right nav-menu")
        each opt in ['dashboard', 'products', 'orders', 'support','settings']
            a(class="nav-item" href="/" + opt)= opt