// Dashboard
   Created by lindsayadland on 27/9/16.

doctype html
html
    include includes/head.pug
    body
        include includes/nav
        include pages/dashboard
        include includes/footer
