@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css"

@import 'https://fonts.googleapis.com/css?family=Dosis|Oswald|Roboto'

$font-family: "Dosis", "Oswald", "Roboto",sans-serif

body
  font-family: $font-family
  background-color: white
  position: relative
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

h1
  font-family: "Roboto", sans-serif
  font-size: xx-large

nav
  a
    font-size: large
    font-family: "Roboto", sans-serif

#login
  position: relative
  height: 80%
  top: 20%
  width: 90%
  left: 5%
  right: 5%

  h1
    text-align: center
  #form
    position: relative
    width: 60%
    left: 20%
  .btn-grp
    text-align: center

#foot
  position: static
  text-align: center
  max-height: 10%
  height: 30px
  bottom: 0
  flex: 1

