@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css";
@import 'https://fonts.googleapis.com/css?family=Dosis|Oswald|Roboto';
body {
  background-color: mintcream;
  font-family: "Dosis", "Oswald", "Roboto", sans-serif; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: xx-large; }

nav a {
  font-size: large;
  font-family: "Roboto", sans-serif; }

/*# sourceMappingURL=markt.css.map */
